@media screen and (min-width: 320px) and (max-width: 479px) {

  /*header*/

  .header {
    max-height: 260px;
  }

  .header__navborded {
    max-width: 310px;
  }

  .navborder__line {
  display: none;
  }

  .navborder__line--size {
    display: none;
  }


  /*main*/

  .main {
    max-width: 310px;
    margin: 30px auto;
    min-height: 2060px;
  }

    /*blog*/

    .article-header {
      text-align: center;
      margin-top: 30px;
    }

    .main-blog {
      max-width: 310px;
      height: 3100px;
    }

    /*about*/

    .main-about {
      margin-top: 0px;
    }

    .about__content {
      padding: 10px;
    }

    .about-img {
      max-width: 310px;
    }

    /*contacts*/

    .main__contacts {
      width: 300px;
      height:
    }

      /*aside*/

      .main__aside {
        display: none;
      }

      /*article*/

      .main__article {
        max-width: 310px;
      }

      .top-news__promo {
        width: 310px;
        height: 216px;
      }

      .top-news__caption {
        top: 200px;
      }

      .top-news__caption-fix {
        top: 200px;
        font-size: 23px;
      }

      .top-news__img-left {
        width: 280px;
        float: none;
      }

      .top-news__img-right {
        width: 280px;
        float: none;
      }

      .section__little-news {
        max-width: 310px;
      }

      .section__little-news-left {
        margin-right: 0px;
      }

      .little-news__promo {
        width: 310px;
        height: 216px;
      }

      .little-news__caption {
        top: 200px;
      }

      .little-news__caption-fix-more {
        margin-top: -135px;
      }

      .little-news__button {
        padding: 5px;
        margin-top: 5px;
      }

  /*footer*/

  .footer-images {
    margin-top: 40px;
    width: 310px;
  }

  .container-white {
    margin-top: 30px;
    width: 300px;
    padding: 0px;
  }

  .container-border {
    height: 400px;
    width: 280px;
    padding: 0px;
    border-width: 4px;
  }

  .footer-images {
    width: 320px;
  }

  .footer__left-img {
    display: none;
  }

  .footer__right-img {
    display: none;
  }

  .content__header {
    width: 240px;
  }

  .content__text {
   width: 240px;
  }

  .content__social__icon {
    width: 35px;
  }

  .contetn__icons {
    width: 300px;
    margin-top: 320px;
    margin-left: 20px;
   }

  .container__forms-text {
    height: 90px;
  }

  /*fonts*/

  .article__crumbs {
    font-size: 20px;
  }

  .header__navigation-item-link {
    font-size: 27px;
  }

  .about__content {
    font-size: 25px;
  }

  .contacts-geo {
    font-size: 25px;
  }

  .contacts-mail {
    font-size: 25px;
  }

  .contacts-phone {
    font-size: 25px;
  }

  .container-button {
    font-size: 23px;
  }

  .top-news__text {
    font-size: 25px;
    padding: 0px 10px;
  }

  .top-news__data {
    font-size: 23px;
  }

  .top-news__views {
    font-size: 23px;
  }

  .top-news__button {
    font-size: 23px;
    margin-top: 5px;
  }

  .little-news__caption {
    font-size: 24px;
  }

  .little-news__text {
    font-size: 23px;
    padding: 0 10px;
  }

  .little-news__data {
      font-size: 23px;
  }

  .little-news__views {
      font-size: 23px;
  }

  .little-news__button {
      font-size: 23px;
      margin-top: 5px;
  }

  /*burger*/

  .header__mobil {
    display:block;
  }

  .mobil__button {
    display: block;
    margin-left: 273px;
    margin-top: -295px;
    font-size: 30px;
    font-weight: bold;
    color: black;
  }

  .header__mobil-menu {
      position: fixed;
      text-align: center;
      overflow: hidden;
      z-index: -1;
      opacity: 0;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      background: rgba(226,118,149,0.8);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }

  .header__mobil-menu-list{
      list-style: none;
      padding: 0;
      position: relative;
      top: 20%;
      -webkit-transform: scale(2);
      -moz-transform: scale(2);
      -ms-transform: scale(2);
      transform: scale(2);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }

  .header__mobil-menu-item {
      padding: 15;
      margin: 20px;
  }

  .header__mobil-menu-item-link {
      border-radius: 3px;
      padding: 15px;
      text-decoration: none;
      font-size: 22px;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
  }

  .header__mobil-menu-item-link:hover {
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
  }

  .toggle-nav-label {
      color: rgba(255,255,255,0.5);
      background: rgba(249, 45, 104, 0.5);
      text-align: center;
      line-height: 50px;
      font-size: 30px;
      display: block;
      cursor: pointer;
      position: relative;
      padding-top: 5px;
      z-index: 500;
      width: 50px;
      height: 45px;
      border-radius: 100px;
      margin-top: -73px;
      margin-left: 260px;
  }

  #toggle-nav {
    display: none;
  }

  #toggle-nav:checked ~ .header__mobil-menu {
      opacity: 1;
      z-index: 400;
  }

  #toggle-nav:checked ~ .header__mobil-menu .header__mobil-menu-list{
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
  }

  #toggle-nav:checked ~ .toggle-nav-label {
      background: #fff;
      color: rgba(0,0,0,0.8);
  }

}
